<head>
	<script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/jquery.flot.js"></script>
</head>
<body>
	<div id="my_id" style="height: 600px;"></div>
	<%= high_chart("my_id", @h) %>





</script>
</body>
