<h1>Vocal Grader</h1>

<% if user_signed_in? %>
<p> Create a new trial </p>
<%= form_for current_user.trials.build do |form| %>
Name: <%= form.text_field :name %>
<%= form.submit "Create", class: "btn btn-success" %>
<% end %>
<% end %>
